<template>
    <div class="container">
        <bookable-list-item item-title="Wael" item-content="Wael M Serag" :price="100"></bookable-list-item>
        <bookable-list-item item-title="Ahmed" item-content="Ahmed M Serag" :price="200"></bookable-list-item>
        <bookable-list-item item-title="Khaled" item-content="Khaled M Serag" :price="300"></bookable-list-item>
    </div>
</template>

<script>
    import BookableListItem from "./BookableListItem";
    export default {
        components:{
            BookableListItem
        }
    };
</script>
